{% if not baseurl %}
  {% set baseurl = '' %}
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <a href="{{ baseurl }}" title="{% trans %}Home{% endtrans %}"><title>Bisbardas{% if title %} - {{ title }}{% endif %}</title></a>
    <link href="{{ baseurl }}static/css/common.css" rel=stylesheet type="text/css" />
    {% for script in csscripts %}
    <link href="{{ script }}" rel=stylesheet type="text/css" />
    {% endfor %}
    <script type="text/javascript" src="{{ baseurl }}static/js/jquery-2.min.js"></script>
    {% for script in jscripts %}
    <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
  </head>
  <body>
    <div id="bb-head-container">
      <div id="container-title">&nbsp;
        <div id="head-title">
          <a href="{{ baseurl }}" title="{% trans %}Home{% endtrans %}"><img src="{{ baseurl }}static/img/title.png" /></a>
        </div>
        {% if user %}
        <div id="head-profile">
          <div id="profile-logout">
            <a href="{{ baseurl }}auth/logout" class="button">{% trans %}Logout{% endtrans %}</a>
          </div>
          <div id="profile-photo">
            <a href="{{ baseurl }}user/modify"><img src="{% if user.photo %}{{ baseurl }}{{ user.photo }}{% else %}{{ baseurl }}static/img/default-user.png{% endif %}"/></a>
          </div>
        </div>
        {% else %}
        <div id="head-login">
          <form name="form-login" action="{{ baseurl }}auth/login" method="POST">
              <input type="hidden" name="form-name" value="auth-login" />
            <div class="form-login">
              <div class="form-login-elem form-login-input" title="{% trans %}User{% endtrans %}"><img src="{{ baseurl }}static/img/people.png" /><input type="text" name="username" /></div>
              <div class="form-login-elem form-login-input" title="{% trans %}Password{% endtrans %}"><img src="{{ baseurl }}static/img/authenticator.png" /><input type="password" name="password" /></div>
              <div class="form-login-elem form-login-button"><input type="submit" value="{% trans %}Login{% endtrans %}"></div>
            </div>
          </form>
        </div>
        {% endif %}
      </div>
      <div id="container-menu">
        <div id="head-menu">
          <ul>
            {% if user %}
            <li><a href="{{ baseurl }}" title="{% trans %}Home{% endtrans %}"><img src="{{ baseurl }}static/img/home.png"/></a></li>
            <li><a href="{{ baseurl }}wall" title="{% trans %}Messages{% endtrans %}"><img src="{{ baseurl }}static/img/mail_ru.png"/></a></li>
            <li><a href="{{ baseurl }}friends" title="{% trans %}Friends{% endtrans %}"><img src="{{ baseurl }}static/img/people.png"/></a></li>
            <li><a href="{{ baseurl }}users" title="{% trans %}Users{% endtrans %}"><img src="{{ baseurl }}static/img/users.png"/></a></li>
            {% endif %}
          </ul>
        </div>
        <div id="head-userinfo">
          {% if user %}
          <span>{% trans %}Hello{% endtrans %}, {{ user.name.first }}</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="bb-body-container">
      {% if content %}
        {% for element in content %}
          {{ element|safe }}
        {% endfor %}
      {% else %}
        {# FIXME: Mostrar pagina de error. #}
        <br><br><br><br><br><br><br><br><br><br>Pagina no renderizada.
      {% endif %}
    </div>
  </body>
</html>
