{% if not baseurl %}
  {% set baseurl = '' %}
{% endif %}

<div class="form-registry">
  <div class="title">
      {% trans %}Welcome to Bisbardas{% endtrans %}
  </div>
  <div class="info">
      Registrate para hacer amigos con los que poder jugar a la petanca
  </div>
  <div class="form">
    <form name="user-registry" action="{{ baseurl }}user/add" method="POST">
        <input type="hidden" name="form-name" value="user-registry" />
        <input type="hidden" name="password-encrypted">
        <div class="form-line">
            <span class="form-line-title">{% trans %}Email address{% endtrans %}</span>
            <span class="form-line-input"><input type="text" name="username"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-title">{% trans %}Password{% endtrans %}</span>
            <span class="form-line-input"><input type="password" name="password"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-title">{% trans %}Repeat password{% endtrans %}</span>
            <span class="form-line-input"><input type="password" name="password-repeat"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-space"></span>
        </div>
        <div class="form-line">
            <span class="form-line-title">{% trans %}Firstname{% endtrans %}</span>
            <span class="form-line-input"><input type="text" name="firstname"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-title">{% trans %}Lastname{% endtrans %}</span>
            <span class="form-line-input"><input type="text" name="lastname"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-space"></span>
        </div>
        {% if formerror %}
        <div class="form-line-error">
            {{ formerror.msg }}
        {% else %}
        <div class="form-line-error" style="display: none;">
        {% endif %}
          <div id="error-username" class="error-msg" style="display: none;">
            {% trans %}The email address isn't valid.{% endtrans %}
          </div>
          <div id="error-password" class="error-msg" style="display: none;">
            {% trans %}The password should have between 6 and 24 characters.{% endtrans %}
          </div>
          <div id="error-password-repeat" class="error-msg" style="display: none;">
            {% trans %}The passwords don't match.{% endtrans %}
          </div>
          <div id="error-firstname" class="error-msg" style="display: none;">
            {% trans %}You should specify a firstname.{% endtrans %}
          </div>
          <div id="error-lastname" class="error-msg" style="display: none;">
            {% trans %}You should specify a lastname.{% endtrans %}
          </div>
          <div class="form-line">
            <span class="form-line-space"></span>
          </div>
        </div>
        <div class="form-line">
            <span class="form-line-title">&nbsp;</span>
            <span class="form-line-title"><input type="submit" value="{% trans %}Sing up{% endtrans %}"/></span>
        </div>
    </div>
  </form>
</div>
