<div class="form-login-large">
    <form name="form-login" action="/auth" method="POST">
        <div class="form-line">
            <span class="form-line-title">Dirección de email</span>
            <span class="form-line-input"><input type="text" name="username"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-title">Contraseña</span>
            <span class="form-line-input"><input type="password" name="password"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-space"></span>
        </div>
        {% if formLoginError %}
        <div class="form-line">
            <span class="form-line-error">{{ formLoginError }}</span>
        </div>
        <div class="form-line">
            <span class="form-line-space"></span>
        </div>
        {% endif %}
        <div class="form-line">
            <span class="form-line-title">&nbsp;</span>
            <span class="form-line-title"><input type="submit" value="Entrar"/></span>
        </div>
    </form>
</div>
