{% if not baseurl %}
  {% set baseurl = '' %}
{% endif %}

<div class="form-registry">
  <div class="title">
      {% trans %}Welcome to Bisbardas{% endtrans %}
  </div>
  <div class="info">
      Registrate para hacer amigos con los que poder jugar a la petanca
  </div>
  <div class="form">
    <form name="user-registry" action="{{ baseurl }}user/add" method="POST">
        <input type="hidden" name="form-name" value="user-registry" />
        <div class="form-line">
            <span class="form-line-title">{% trans %}Email address{% endtrans %}</span>
            <span class="form-line-input"><input type="text" name="username"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-title">{% trans %}Password{% endtrans %}</span>
            <span class="form-line-input"><input type="password" name="password"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-title">{% trans %}Repeat password{% endtrans %}</span>
            <span class="form-line-input"><input type="password" name="password2"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-space"></span>
        </div>
        <div class="form-line">
            <span class="form-line-title">{% trans %}Firstname{% endtrans %}</span>
            <span class="form-line-input"><input type="text" name="firstname"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-title">{% trans %}Lastname{% endtrans %}</span>
            <span class="form-line-input"><input type="text" name="lastname"/></span>
        </div>
        <div class="form-line">
            <span class="form-line-space"></span>
        </div>
        {% if formerror %}
        <div class="form-line-error">
            {{ formerror.msg }}
        {% else %}
        <div class="form-line-error" style="display: none;">
        {% endif %}
        </div>
        <div class="form-line">
            <span class="form-line-space"></span>
        </div>
        <div class="form-line">
            <span class="form-line-title">&nbsp;</span>
            <span class="form-line-title"><input type="submit" value="{% trans %}Sing in{% endtrans %}"/></span>
        </div>
    </div>
  </form>
</div>
