{% if not baseurl %}
{% set baseurl = '' %}
{% endif %}
<div class="post-container">
    <div class="title">
        {% trans %}Publish a new post{% endtrans %}
    </div>
    <div class="form">
        <form name="form-post" action="/post/add" method="POST">
            <input type="hidden" name="form-name" value="form-post" />
            <div class="form-line">
                <span class="form-line-title">{% trans %}Title{% endtrans %}</span>
            </div>
            <div class="form-line">
                <span class="form-line-input"><input type="text" name="post-title"/></span>
            </div>
            <div class="form-line">
                <span class="form-line-title">{% trans %}Content{% endtrans %}</span>
            </div>
            <div class="form-line">
                <span class="form-line-input"><textarea name="post-body"></textarea></span>
            </div>
            <div class="form-line">
                <span class="form-line-title">&nbsp;</span>
                <span class="form-line-title"><input type="submit" value="{% trans %}Post it{% endtrans %}"/></span>
            </div>
        </form>
    </div>
</div>
