<div class="bb-post">
  <div class="post-image">
    <img src="{% if info.image %}{{ baseurl }}static/img-upload/{{ info.image }}{% else %}{{ baseurl }}static/img/default-post.png{% endif %}">
  </div>
  <div class="post-body">
    <div class="title">
      {{ info.title }}
    </div>
    <div class="content">
      <div class="ctext">
        <p>{{ info.body }}</p>
      </div>
    </div>
    <div class="social">
      {% if userlike %}
      <span class="like-button"><button>{% trans %}I don't like this anymore{% endtrans %}</button></span>
      {% else %}
      <span class="like-button"><button>{% trans %}Like it{% endtrans %}</button></span>
      {% endif %}
      <span class="social-resume">
        {% if userlike %}
          {% if likes < 1 %}
            A ti te gusta esto.
          {% elseif likes == 1 %}
            A ti y a 1 persona más os gusta esto.
          {% else %}
            A ti y a {{ likes }} personas más os gusta esto.
          {% endif %}
        {% else %}
          {% if likes == 1 %}
            A 1 persona le gusta esto.
          {% else %}
            A {{ likes }} personas les gusta esto.
          {% endif %}
        {% endif %}
      </span>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
