<div class="bb-friend">
  <div class="friend-image">
    <img src="{{ image }}">
  </div>
  <div class="friend-body">
    <div class="name">
      Nombre del amigo
    </div>
    <div class="data">
      <div class="ctext">
        <p>Edad, dirección</p>
      </div>
    </div>
    <div class="social">
      {% if friends %}
      <span class="friend-button"><button>{% trans %}Remove friend{% endtrans %}</button></span>
      {% else %}
      <span class="friend-button"><button>{% trans %}Add friend{% endtrans %}</button></span>
      {% endif %}
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
