<div class="bb-friend">
  <div class="friend-image">
    <img src="{{ image }}">
  </div>
  <div class="friend-body">
    <div class="name">
      {{ email }}
    </div>
    <div class="social">
      {% if blocked %}
      <span class="friend-button"><button>{% trans %}Unblock user{% endtrans %}</button></span>
      {% else %}
      <span class="friend-button"><button>{% trans %}Block friend{% endtrans %}</button></span>
      {% endif %}
      {% if friends %}
      <span class="friend-button"><button>{% trans %}Remove friend{% endtrans %}</button></span>
      {% else %}
      <span class="friend-button"><input type="submit" value="{% trans %}Add friend{% endtrans %}"/></span>
      {% endif %}
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
